/* Modern CSS Reset by Andy Bell https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    /*Paddings and margins are considered in the max-size*/
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    min-height: 100svh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
    /* line-height: 1.5; */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Fonts */
@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype-variations');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 600 700;
    font-style: normal;
}

/* Custom styles */
:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30,54%,90%);
    --stone150: hsl(30,18%,87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    --font-paragraphs: 1rem;   /* 1rem = 16px */
    --font-title1: 2.5rem;
    --font-title2: 1.85rem;
    --font-title3: 1.2rem;
}

body{
    font-family: 'Outfit', serif;
    font-size: var(--font-paragraphs);
    background-color: var(--stone100);
    padding: 7rem 0;
    color: var(--stone600);
}

main{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: var(--font-title1);
    padding-top: 2rem;
    color: var(--stone900);
}

h2{
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: var(--font-title2);
    color: var(--brown800);
}

h3{
    color: var(--rose800);
    font-size: var(--font-title3);
}

p{
    margin: 1.5rem 0;
}

article{
    background-color: var(--white);
    border-radius: 20px;
    padding: 2.5rem;
    max-width: 50%;
}

ul,
ol{
    padding-left: 1.5rem;
}

li{
    padding-left: 1em;
}
li::marker{
    color: var(--brown800);
    font-weight: 700;
}

img{
    border-radius: 10px;
}

table{
    width: 100%;
}
td{
    width: 50%;
    padding: 0.5rem 0 0.5rem 1.5rem;

}

tr:not(:last-child) td{
    border-bottom: 1px solid var(--stone100);
}

.section-content{
    padding-top: 1.5rem;
}
.section-content:not(:last-child) {
    border-bottom: 1px solid var(--stone100);
}
.section-content li {
    padding-bottom: 1em;
}

.section-info{
    background-color: var(--rose50);
    padding: 20px;
    border-radius: 10px;
}
.section-info li:not(:last-child) {
    padding-bottom: 10px;
}

/* .column1{
    
} */

.column2{
    color: var(--brown800);
    font-weight: 700;
}

.attribution {
    display: none;
}